<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DocumentStore" connectionString="mongodb://localhost:27017/testdocumentstore"/>
    <add name="EventStore" connectionString="mongodb://localhost:27017/testeventstore"/>
  </connectionStrings>

</configuration>
